.menu{
	width: 100%;
	height: 80px;
	background-color: #C0C0C0; 
	position: absolute; top: 0; left: 0; bottom: 1px;
	color: #FF69B4;
}

.menu-word:hover{
 transition-duration: 0.5s;
color: #9370DB; 
font-size: 31px;
}

.inline{
display: inline;
padding-top: 10px;
padding-right: 30px;
padding-bottom: 10px; 
font-size: 30px;
}


.dec-none{ text-decoration: none;}
 .col-menu{ color: #FF1493;} 


 .m-r{ margin-right: 205px;  }
 .m-t{ margin-top: 90px;}
 .m-l{ margin-left: 205px; }
 .m-b{ margin-bottom: 105px; }

.p-l{ padding-left: 50px; }
.p-r{ padding-right: 50px; }
.p-t{ padding-top: 150px; }
.p-b{ padding-bottom: 25px; }

.p{ padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 50px;
    padding-left: 50px; }


.border { border-style: solid;
          border-width: 5px;
          border-color: #7FFFD4;
          border-radius: 10px;
           }

 body{ background: linear-gradient(to top, #7B3665, #FFC0CB);
 	margin-top: 80px;
  }

  .img-cen{ float: right;} 

  .with{ width: 500px;
         height: 295px; }

  .f {font-size: 20px;}

.bp{ color: #E6E6FA; }

.position{ position: absolute; top: 100px;
bottom: 100px;
left: 20px;
right: 100px; }

.news1{ position: absolute;
top: 100px;
bottom: 100px;
left: 200px
right: 200px; }
.news2{ position: absolute;
top: 360px;
bottom: 150px;
left: 8px;
right: 20px; }
.news3{ position: absolute;
top: 650px;
bottom: 100px;
left: 8px; }
.news4{ position: absolute;
top: 150px;
bottom: 100px;
right: 8px; }
.news5{ position: absolute;
top: 450px;
bottom: 100px;
right: 8px; }
.news6{ position: absolute;
top: 750px;
bottom: 100px;
right: 8px;
 }



.nc{ color: black; }

.w{ width: 184px;
height: 220px;
background-color: #FFDFFA; 
 }

.ws{ height: 100px;
     width: 173px; 
     margin-top: 5px;
     margin-left: 5px;
     margin-right: 5px;
}

.m-ln{ margin-left: 5px; }
.m-ln2{ margin-left: 17px; }

.textdec{ text-decoration: none; }

.colorn{ color: #FF0000; }
.colorn:hover{ font-size: 17px;
               transition-duration: 0.3s;  }
.colorr{ color:#FF0000;  }
.colorr:hover{ font-size: 23px;
transition-duration: 0.3s; }
.colort{ color: #FF0000; }
.colort:hover{ font-size: 20px;
transition-duration: 0.3s; }

.f-sn {font-size: 18px;}
.f-sn2{ font-size: 20px; }
.f-sn3{ font-size: 15px; }
.f-sn4{ font-size: 16px; }
.f-sn5{ font-size: 17px; }